.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0 50px;
  background-color: $black;
  opacity: 0;
  visibility: hidden;
  transition: all $transition ease 0s;
  z-index: 10;
  overflow: auto;

  &.open {
    opacity: 1;
    visibility: visible;
  }

  &__body {
    min-height: 100%;
    margin: 0 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__content {
    max-width: 1726px;
    max-height: 880px;
    display: flex;
    background-color: #131313;
    opacity: 1;
    transform: skewX(-10deg);
  }

  &__image {
    max-width: 728px;
    max-height: 880px;
    background-color: $black;
    overflow: hidden;

    & img {
      transform: skewX(10deg);
    }
  }

  &__content-text {
    min-width: 724px;
    margin: 75px 90px 140px 90px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    transform: skewX(10deg);
  }

  &__heading {
    display: flex;
    justify-content: space-between;
  }

  &__text {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-family: "Montserrat";
    font-size: 42px;
    font-weight: 700;
    line-height: 51px;
    text-transform: uppercase;
    color: $white;
  }

  &__subtitle {
    max-width: 375px;
    margin-top: 20px;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: $grey;
  }

  &__close {
    margin-right: 12px;
    padding: 22px 30px;
    align-self: start;
    border: 1px solid $border-color--grey;
    cursor: pointer;
    transform: skewX(-20deg);
    transition: $transition;

    &:hover {
      border: 1px solid $white;
      background-color: $white;
    }

    & img {
      transform: skewX(20deg);
    }
  }

  &__forms {
  }

  &__forms-body {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
  }

  .popup-form {
    padding: 20px 36px;
    font-family: "Montserrat";
    background-color: transparent;
    border: 1px solid $border-color--grey;
    user-select: none;
    outline: none;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: $white;

    &:focus {
      border: 1px solid $white;
    }

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &::placeholder {
      font-size: 16px;
      font-weight: 700;
      line-height: 20px;
      color: $white;
      text-transform: uppercase;
    }
  }

  .popup-form--valid {
    border: 1px solid $border-color--grey;
  }

  .popup-form--invalid {
    border: 1px solid $border-color--red;
  }

  &__submit {
    display: flex;
  }

  &__btn-submit {
    @include btn-with-divider;
    @include btn-none;
    padding: 20px 60px;
  }

  &__btn-submit-text {
    @include btn-with-divider__text;
  }

  .terms-of-use {
    margin-left: 30px;
    max-width: 350px;
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: $grey;

    &__link {
      color: $grey;
      text-decoration: underline;
    }
  }
}

@media screen and (max-width: $xl) {
  .popup {
    &__image {
      display: none;
    }

    &__content {
      justify-content: center;
    }

    &__content-text {
      min-width: 100px;
      max-width: 724px;
    }

    &__submit {
      flex-direction: column-reverse;
      align-items: center;
    }

    &__btn-submit {
      margin-top: 20px;
      align-self: center;
    }

    .terms-of-use {
      margin-left: 0;
      max-width: 100%;
      text-align: center;
    }
  }
}

@media screen and (max-width: 1050px) {
  .popup {

    &__content {
      width: 100%;
    }

    &__content-text {
      margin: 40px;
      min-width: 100px;
    }
  }
}

@media screen and (max-width: $md) {
  .popup {
    padding: 0;

    &__body {
      margin: 0;
    }
    &__content {
      transform: skewX(0deg);
    }

    &__content-text {
      margin: 20px;
      transform: skewX(0deg);
    }

    &__heading {
      // flex-direction: column-reverse;
      // align-items: center;
      // text-align: center;
    }

    &__text {
      max-width: 300px; 
    }

    &__close {
      display: block;
      padding: 12px 20px;
      // margin-bottom: 20px;
      // align-self: center;
    }
  }
}

@media screen and (max-width: $xs) {
  .popup {
    &__heading {
      flex-direction: column-reverse;
      align-items: center;
      text-align: center;
    }
    &__close {
      // display: block;
      // padding: 12px 20px;
      margin-bottom: 20px;
      align-self: center;
    }
  }
}