.link-popup {
  display: flex;
  position: relative;
  align-items: center;
  padding: 20px 70px;
  margin-right: 32px;
  text-align: center;
  background-color: $gold;
  transform: skewX(-20deg);
  transition: $transition;

  &:hover {
    background-color: $grey;

    &::before {
      margin-left: 0;
    }
  }

  &::before {
    content: "";
    height: 100%;
    width: 10px;
    display: block;
    position: absolute;
    top: 0;
    left: 100%;
    margin-left: 10px;
    background-color: $white;
    transition: $transition;
  }
}

.link-popup__text {
  display: block;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 700;
  color: $white;
  text-transform: uppercase;
  transform: skewX(20deg);
}