.main__swiper-container {
  border-radius: 60px 60px 0px 0px;
  max-width: 1920px;
  max-height: 100vh;

  .swiper-slide {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    &__image {
      height: 100vh;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      background: linear-gradient(180deg, #131313 0%, rgba(19, 19, 19, 0) 100%);
    }

    &__content {
      margin-bottom: 177px;
      margin-left: 100px;
      position: relative;
      z-index: 1;
    }

    &__text {
      max-width: 686px;
    }

    &__title {
      font-family: "Montserrat";
      font-size: 42px;
      font-weight: 700;
      line-height: 51px;
      text-transform: uppercase;
      color: $white;
    }

    &__subtitle {
      display: inline-block;
      margin: 40px 0;
      font-family: "Montserrat";
      font-size: 16px;
      font-weight: 400;
      color: $white;
      opacity: 0.79;
    }

    .popup-link {
      @include btn-with-divider;
    }

    .popup-link__text {
      @include btn-with-divider__text;
    }
  }

  .swiper-pagination {
    top: 100%;
    transform: translateY(-100%);
    padding-bottom: 177px;
    padding-right: 100px;
  }

  .swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0;
    display: block;
}

  .swiper-pagination-bullet {
    width: auto;
    height: auto;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Montserrat';
    text-transform: uppercase;
    color: $white;
    text-align: right;
    background-color: transparent;

    &:not(:last-child) {
      padding-bottom: 15px;
    }
  }

  .swiper-pagination-bullet-active {
    background-color: transparent;
    opacity: 1;
  }

  .main__swiper-shadow {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 177px;
    background: linear-gradient(180deg, #131313 0%, rgba(19, 19, 19, 0) 100%);
    transform: rotate(-180deg);
    z-index: 1;
  }
}
